pyrogram==1.4.16
tgcrypto
requests
bs4
python-telegram-bot==20.0a4
python-dotenv
psutil
cloudscraper
aiohttp
aiofiles
ujson
jikanpy
hurry.filesize
feedparser
geopy
dateparser==1.1.1
gpytranslate==1.4.0
motor
pymongo[srv]
dnspython
pymongo
pillow
animeflv
telegraph
libgen_api
